@import "https://fonts.googleapis.com/css?family=Lato:300";
@import "https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css";

html,
body,
.background {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

html {
    background: #fff;
}

body {
    background: #eee;
    background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
}

.background {
    background: #eee;
    background: linear-gradient( 120deg, rgba(50, 150, 100, 0.2), rgba(0, 0, 100, 0) );
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -7vh;
    padding-bottom: 239px;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
    background: #eee;
    background: linear-gradient( 240deg, rgba(150, 50, 50, 0.3), rgba(0, 0, 200, 0) );
}

#card {
    box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 300px;
    padding: 25px;
    height: 400px;
    min-height: 300px;
    margin: 20px;
    border-radius: 5px;
    position: relative;
}

    #card .details {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 16px 20px;
        color: #888;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: color 2s ease;
    }

        #card .details .right {
            text-align: right;
        }

        #card .details #date {
            margin: 4px 0;
        }

        #card .details #summary {
            font-weight: 600;
            font-size: 21px;
            text-transform: uppercase;
        }

        #card .details .temp {
            font-size: 60px;
            line-height: 60px;
        }

            #card .details .temp span {
                font-size: 31px;
                font-weight: bold;
                line-height: 30px;
                vertical-align: top;
                margin-left: 5px;
            }

.weather {
    background-color: #dae3fd;
    transition: background-color 2s ease;
}

/* SEARC */
.Search {
    position: relative;
    font-weight: 300;
    font-size: 40px;
    color: #555;
}

.Search-box {
    margin: 0 12px;
    margin-top: 6vh;
    padding: 8px 48px;
    height: 35px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.3);
    transition: all 0.15s ease-in-out;
}

    .Search-box:focus {
        flex: 1 0 90%;
        outline: 0;
    }

        .Search-box:focus + .Search-label {
            transform: translateX(12px);
        }

.searchbtn {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 17px;
    background: #d8aaae;
    color: #f8faff;
    appearance: none;
    border: none;
    border-radius: 17px;
    margin-top: -35px;
    height: 36px;
    margin-left: 170px;
    padding: 0 24px;
    box-shadow: 0 10px 60px -13px #6b4055;
    cursor: pointer;
    user-select: none;
    outline: none;
}

    .searchbtn:hover {
        background: #75425a;
        box-shadow: 0 8px 65px -5px #72455c;
    }

    .searchbtn:active {
        background: #d5bec0;
        box-shadow: 0 10px 60px -10px #8a325e;
        transform: perspective(250px) scale3d(1, 1, 1) translateY(5%) !important;
    }

#date,
#hours,
#minutes,
#seconds {
    margin: 0;
}

#hours,
#minutes,
#seconds {
    display: inline-block;
}

#date {
    font-size: 24px;
}

#hours,
#minutes {
    font-size: 22px;
    font-weight: 400;
}

#seconds {
    font-size: 18px;
    font-weight: 200;
}

.segmentdate {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: -23vh;
    background: #cf959a;
    width: 20%;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    padding: 0.5vh;
    box-shadow: 0 10px 60px -13px #6b4055;
}

.infos {
    font-family: "Lato", sans-serif;
    font-size: 19px;
    line-height: 29px;
    font-weight: 600;
    color: #888;
    margin-top: -7vh;
}

.weatherimg {
    width: 100%;
    margin-top: 2vh;
}

.windimg {
    width: 14%;
    margin-left: 2vh;
}

.windspeed {
    margin-top: -42px;
    margin-left: 9vh;
}

.humidityimg {
    width: 14%;
    margin-left: 3vh;
    margin-bottom: -8vh;
}

.humidity {
    margin-left: 9vh;
}

.visibility {
    margin-top: -42px;
    margin-left: 9vh;
}

.visibilityimg {
    width: 14%;
    margin-left: 3vh;
}

* {
    box-sizing: border-box;
}

.checkbox {
    display: none;
}

    .checkbox + label {
        display: inline-block;
        margin-top: 1vh;
        margin-left: 198vh;
        position: relative;
        text-align: right;
        width: 90px;
        height: 40px;
        background: linear-gradient( to right, #e70703 0, #ece3e5 45%, #0261ce 54%, rgb(206, 99, 99) 100% ) 0 0;
        background-size: 650px 100%;
        border-radius: 70px;
        padding: 7px;
        cursor: pointer;
        transition: all 500ms ease;
        box-shadow: 0 0px 10px rgba(255, 255, 255, 0.2) inset;
    }

        .checkbox + label:before {
            content: "TR";
            width: 32px;
            height: 32px;
            position: absolute;
            left: 5px;
            top: 4px;
            border-radius: 100%;
            background: #fff;
            text-align: center;
            z-index: 10;
            line-height: 34px;
            font-family: "Cabin", sans-serif;
            font-size: 15px;
            font-weight: bold;
            color: #ff0400;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: left 500ms ease, color 500ms ease, transform 150ms ease;
        }

        .checkbox + label:active:before {
            transform: scale(0.95);
        }

    .checkbox:checked + label {
        background-position-x: -350px;
    }

        .checkbox:checked + label:before {
            content: "EN";
            color: #007177;
            left: 54px;
        }
